
	<!-- push menu-->
    {{!-- <div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="ti-close"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform title-font" action="/search">
                <div>
                    <label class="screen-reader-text" for="q"></label>
                    <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                    <input type="hidden" name="type" value="product">
                    <button type="submit" id="searchsubmit"><i class="ti-search"></i></button>
                </div>
            </form>
            <ul class="nav-home5 js-menubar clear-space menu-font">
                <li class="level1 active dropdown">
                    <a href="#" class="uppercase">Home</a>
                    <span class="icon-sub-menu"></span>
                    <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                                <a href="#" class="capital">home set 1</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 capital menu-child-font"><a href="Home1.html" title="">home page 1</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Home2.html" title="">home page 2</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Home3.html" title="">home page 3</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Home4.html" title="">home page 4</a></li>
                                </ul>
                        </li>
                        <li class="level2">
                                <a href="#" class="capital">home set 2</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 capital menu-child-font"><a href="Home5.html" title="">home page 5</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Home6.html" title="">home page 6</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Home7.html" title="">home page 7</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Home8.html" title="">home page 8 comming soon</a></li>
                                </ul>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="level1 active dropdown"><a href="#" class="uppercase">Shop</a>
                    <span class="icon-sub-menu"></span>
                    <div class="menu-level1 js-open-menu">
                        <ul class="level1">
                            <li class="level2">
                                <a href="#" class="capital">Shop page</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 menu-child-font"><a href="Shop_right_sidebar.html">shop right sidebar</a></li>
                                    <li class="level3 menu-child-font"><a href="Shop_left_sidebar.html">shop left sidebar</a></li>
                                    <li class="level3 menu-child-font"><a href="Shop_no_sidebar.html">shop full width</a></li>
                                    <li class="level3 menu-child-font"><a href="#">shop page 4 - comming soon</a></li>
                                </ul>
                            </li>
                            <li class="level2">
                                <a href="#" class="capital">Single Product Type</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 menu-child-font"><a href="Product_detail_1.html">product detail 1</a></li>
                                    <li class="level3 menu-child-font"><a href="Product_detail_2.html">product detail 2</a></li>
                                    <li class="level3 menu-child-font"><a href="#">product detail 3 - Comming soon</a></li>
                                    <li class="level3 menu-child-font"><a href="#">product detail 4 - Comming soon</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li class="level1 active dropdown">
                    <a href="#" class="uppercase">Blog</a>
                    <span class="icon-sub-menu"></span>
                    <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                                <a href="#" class="capital">blog page</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 capital menu-child-font"><a href="Blog_right_sidebar.html">blog right sidebar</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Blog_left_sidebar.html">blog left sidebar</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Blog_no_sidebar.html">blog full width</a></li>
                                    <li class="level3 capital menu-child-font"><a href="#">blog page 4 - comming soon</a></li>
                                </ul>
                        </li>
                        <li class="level2">
                                <a href="#" class="capital">blog detail</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 capital menu-child-font"><a href="Blog_detail_right_sidebar.html">blog detail right sidebar</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Blog_detail_left_sidebar.html">blog detail left sidebar</a></li>
                                    <li class="level3 capital menu-child-font"><a href="Blog_detail_no_sidebar.html">blog detail full width</a></li>
                                    <li class="level3 capital menu-child-font"><a href="#">blog detail 4 - comming soon</a></li>
                                </ul>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="level1 active dropdown">
                    <a href="#" class="uppercase">Pages</a>
                    <span class="icon-sub-menu"></span>
                    <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                                <a href="#" class="capital">page set 1</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 capital menu-child-font"><a href="About_page_1.html">about page 1</a></li>
                                    <li class="level3 capital menu-child-font"><a href="About_page_2.html">about page 2</a></li>
                                    <li class="level3 capital menu-child-font"><a href="FAQ.html">FAQs page</a></li>
                                    <li class="level3 capital menu-child-font"><a href="404.html">404 page</a></li>
                                </ul>
                        </li>
                        <li class="level2">
                                <a href="#" class="capital">page set 2</a>
                                <ul class="menu-level-2 clear-space">
                                    <li class="level3 capital menu-child-font"><a href="cart_page.html">cart page</a></li>
                                    <li class="level3 capital menu-child-font"><a href="wishlist_page.html">wishlist page</a></li>
                                    <li class="level3 capital menu-child-font"><a href="login_page.html">login/register page</a></li>
                                    <li class="level3 capital menu-child-font"><a href="#">other page - comming soon</a></li>
                                </ul>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="level1">
                    <a href="Contact.html" class="uppercase">contact</a>
                </li>
                <li>
                    <a href="#" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>login</a>
                </li>
            </ul>
        </div>
    </div> --}}
    <!-- end push menu-->
{{!-- <header class="full-width fixed">
	<div class="container space_top_bot_55 delay03 BG-black" id="menu-header">
		<div class="row flex">
			<div class="col-lg-1 col-md-2 col-sm-6 col-xs-5">
				<a href="#"><img src="/img/logo-white.png" alt=""></a>
			</div>
			<div class="col-lg-8 col-md-7 hidden-sm hidden-xs">
				<ul class="nav navbar-nav menu-font menu-main">
					<li class="relative dropdown">
						<a href="#" class="link-menu white delay03 uppercase">HOME</a>
						<figure class="line active_line absolute delay03"></figure>
						<div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-6 col-md-6 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">Home Set 1</li>
											<li class="menu-child-font"><a href="home1.html">Home page 1</a></li>
											<li class="menu-child-font"><a href="home2.html">Home page 2</a></li>
											<li class="menu-child-font"><a href="home3.html">Home page 3</a></li>
											<li class="menu-child-font"><a href="home4.html">Home page 4</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">Home set 2</li>
											<li class="menu-child-font"><a href="home5.html">Home page 5</a></li>
											<li class="menu-child-font"><a href="home6.html">Home page 6</a></li>
											<li class="menu-child-font"><a href="home7.html">Home page 7</a></li>
											<li class="menu-child-font"><a href="#">Home page 8 - Comming soon</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="relative dropdown">
						<a href="#" class="link-menu white delay03 uppercase">SHOP</a>
						<figure class="line absolute delay03"></figure>
						<div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left mega-menu-shop">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-4 col-md-4 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">shop page</li>
											<li class="menu-child-font"><a href="Shop_right_sidebar.html">shop right sidebar</a></li>
											<li class="menu-child-font"><a href="Shop_left_sidebar.html">shop left sidebar</a></li>
											<li class="menu-child-font"><a href="Shop_no_sidebar.html">shop full width</a></li>
											<li class="menu-child-font"><a href="#">shop page 4 - Comming soon</a></li>
										</ul>
									</div>
									<!--  -->
									<div class="col-lg-4 col-md-4">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">product detail</li>
											<li class="menu-child-font"><a href="Product_detail_1.html">product detail 1</a></li>
											<li class="menu-child-font"><a href="Product_detail_2.html">product detail 2</a></li>
											<li class="menu-child-font"><a href="#">product detail 3 - Comming soon</a></li>
											<li class="menu-child-font"><a href="#">product detail 4 - Comming soon</a></li>
										</ul>
									</div>
									<!--  -->
									<!--  -->
									<div class="col-lg-4 col-md-4 banner-menu">
										<div class="product">
											<div class="img-product relative">
												<a href="#" class="inline-block"><img src="/img/product1_home6.jpg" class="img-responsive" alt=""></a>
												<figure class="absolute uppercase label-new title-font text-center">new</figure>
												<div class="product-icon absolute text-center">
													<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  													  <input type="hidden" name="id" value="" />
  													  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  													</form>
  													<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  													<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      												  <i class="ti-more-alt"></i>
      												</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="relative dropdown">
						<a href="#" class="link-menu white delay03 uppercase">BLOG</a>
						<figure class="line absolute delay03"></figure>
						<div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-6 col-md-6 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">blog page</li>
											<li class="menu-child-font"><a href="Blog_right_sidebar.html">blog right sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_left_sidebar.html">blog left sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_no_sidebar.html">blog full width</a></li>
											<li class="menu-child-font"><a href="#">blog page 4 - Comming soon</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">blog detail page</li>
											<li class="menu-child-font"><a href="Blog_detail_right_sidebar.html">blog detail right sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_detail_left_sidebar.html">blog detail left sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_detail_no_sidebar.html">blog detail full width</a></li>
											<li class="menu-child-font"><a href="#">blog detail 4 - Comming soon</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="relative dropdown">
						<a href="#" class="link-menu white delay03 uppercase">PAGES</a>
						<figure class="line absolute delay03"></figure>
						<div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-6 col-md-6 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">page set 1</li>
											<li class="menu-child-font"><a href="About_page_1.html">about page 1</a></li>
											<li class="menu-child-font"><a href="About_page_2.html">about page 2</a></li>
											<li class="menu-child-font"><a href="FAQ.html">FAQs page</a></li>
											<li class="menu-child-font"><a href="404.html">404 page</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">page set 2</li>
											<li class="menu-child-font"><a href="cart_page.html">cart page</a></li>
											<li class="menu-child-font"><a href="wishlist_page.html">wishlist page</a></li>
											<li class="menu-child-font"><a href="login_page.html">login/register page</a></li>
											<li class="menu-child-font"><a href="#">other page - comming soon</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="relative">
						<a href="Contact.html" class="link-menu white delay03 uppercase">CONTACT</a>
						<figure class="line absolute delay03"></figure>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 text-right icon-main">
				<a href="#" class="link-menu white delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-search"><i class="ti-search"></i></a>
				<a href="/login" class="link-menu white delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-login"><i class="zoa-icon-user"></i></a>
				<a href="#" class="link-menu white delay03 container_20 relative inline-block text-center" id="btn-cart">
					<i class="ti-bag"></i>
					<figure class="absolute label-cart number-font">0</figure>
				</a>
				<a href="#" class="link-menu white delay03 inline-block hidden-md hidden-lg space_left_10 btn-push-menu">
					<svg width="26" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                                    <g>
                                        <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
                                        <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
                                        <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
                                    </g>
                   </svg>
				</a>
			</div>
		</div>
	</div>
</header> --}}
<main>
	<div class="slider-home7 container-fluid clear-space relative margin_bottom_150">
		<div class="content-slider relative">
			<div class="img-slider">
				<a href="#" class="inline-block">
					<img src="/img/slide_home7.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="absolute text-slider full-width">
				<div>
					<h1 class="title-font title-slider delay2 capital">Basic regular<br>fit t-shirt</h1>
					<p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek andfunctional Carryalls <br>were designedwith creatives in mind.</p>
				</div>
				
				<div class="flex delay1_5 social-home3 absolute">
						<a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
		<!--  -->
		<div class="content-slider relative">
			<div class="img-slider">
				<a href="#" class="inline-block">
					<img src="/img/slide_home7.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="absolute text-slider full-width">
				<div>
					<h1 class="title-font title-slider delay2 capital">Basic regular<br>fit t-shirt</h1>
					<p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek andfunctional Carryalls <br>were designedwith creatives in mind.</p>
				</div>
				
				<div class="flex delay1_5 social-home3 absolute">
						<a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
		<!--  -->
		<div class="content-slider relative">
			<div class="img-slider">
				<a href="#" class="inline-block">
					<img src="/img/slide_home7.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="absolute text-slider full-width">
				<div>
					<h1 class="title-font title-slider delay2 capital">Basic regular<br>fit t-shirt</h1>
					<p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek andfunctional Carryalls <br>were designedwith creatives in mind.</p>
				</div>
				
				<div class="flex delay1_5 social-home3 absolute">
						<a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
		<!--  -->
		<div class="content-slider relative">
			<div class="img-slider">
				<a href="#" class="inline-block">
					<img src="/img/slide_home7.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="absolute text-slider full-width">
				<div>
					<h1 class="title-font title-slider delay2 capital">Basic regular<br>fit t-shirt</h1>
					<p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek andfunctional Carryalls <br>were designedwith creatives in mind.</p>
				</div>
				
				<div class="flex delay1_5 social-home3 absolute">
						<a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
						<a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
		<!--  -->
		<!--  -->
		
		<!--  -->
		<!--  -->
		
		<!--  -->
	</div>
	<!--  -->
	<div class="container margin_bottom_130 section-bestseller-home1">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title-font margin_bottom_10 title-bestseller">New in store</h1>
				<p class="des-font margin_bottom_50 des-bestseller">I did not even know that there were any better conditions to escape to, but I was more than willing 
			to take my chances among people fashioned after.</p>
			
			<div class="slick-bestseller-home7">
				{{#each products}}
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/product-images/{{this._id}}.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">{{this.Brand}}</figure>
						<div class="product-icon text-center absolute">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">{{this.Name}}</a></h4>
						<p class="number-font price-product"><span class="price">{{this.Price}}rs</span></p>
					</div>
				</div>
				{{/each}}
				<!--  -->
				{{!-- <div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_2.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div> --}}
				<!--  -->
				{{!-- <div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_3.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div> --}}
				<!--  -->
				{{!-- <div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_4.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div> --}}
				<!--  -->
				{{!-- <div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_5.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_1.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_2.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
						<div class="product-icon text-center absolute">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font price-product"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_3.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_4.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_5.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_2.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div> --}}
				<!--  -->
				{{!-- <div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_3.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_4.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/product_5.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div> --}}
				<!--  -->
				{{!-- <div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_1.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_2.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
						<div class="product-icon text-center absolute">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font price-product"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_3.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_4.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div>
				<!--  -->
				<div class="product margin_bottom_40">
					<div class="img-product relative">
						<a href="#"><img src="/img/featured_home3_5.jpg" class="img-responsive" alt=""></a>
						<figure class="absolute uppercase label-sale title-font text-center">sale</figure>
						<div class="product-icon absolute text-center">
							<form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart">
  							  <input type="hidden" name="id" value="" />
  							  <button type="submit" name="add" class="enj-add-to-cart-btn btn-default"><i class="ti-bag"></i></button>
  							</form>
  							<a href="#" class="icon-heart inline-block"><i class="ti-heart"></i></a>
  							<a href="#" class="engoj_btn_quickview icon-quickview inline-block" title="quickview">
      						  <i class="ti-more-alt"></i>
      						</a>
						</div>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="#">embossed backpack in brown</a></h4>
						<p class="number-font"><span class="price">$123.00</span></p>
					</div>
				</div> --}}
				<!--  -->
			</div>
			<div class="col-md-12 text-center discover-link margin_top_70">
				<a href="#" class="menu-font uppercase relative">discover more<figure class="line"></figure></a>
			</div>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="video-home7 relative">
		<div>
			<h1 class="title-font capital text-center title-video absolute">skin tones<br>exclisive collection</h1>
			<img src="/img/video_home7.jpg" class="img-responsive" alt="">
			<button type="button" class="btn-video-home7 absolute" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                <svg role="presentation" focusable="false">
                                    <svg id="plyr-play" viewBox="0 0 0 0">
                                        <i class="ti-control-play"></i>
                                    </svg>
                                </svg>
            </button>
		</div>
	</div>
	<!--  -->
	<div class="testimonial ver7 margin_bottom_150">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title-font capital title-testi">testimonials</h1>
		<p class="des-font des-testi">I did not even know that there were any better conditions to escape to, but I was more than willing to<br class="hidden-xs"> 
		take my chances among people fashioned after.</p>
			</div>
			<div class="col-md-12">
			<div class="slider-comment">
		<div class="content-comment relative">
			<div class="number-font absolute stt-comment">#01</div>
			<p class="menu-font des-comment space_bot_30">“Quisque condimentum ipsum at velit hendrerit 
			venenatis. Donec luctus metus enim, nunced. Sed sit 
			amet nisl id purus aliquet cursus et neque vel sodales 
			ligula”</p>
			<span class="number-font uppercase author-comment">iryna petrunco </span><span class="des-font capital model">/ model</span>
		</div>
		<!--  -->
		<div class="content-comment relative">
			<div class="number-font absolute stt-comment">#02</div>
			<p class="menu-font des-comment space_bot_30">“Quisque condimentum ipsum at velit hendrerit 
			venenatis. Donec luctus metus enim, nunced. Sed sit 
			amet nisl id purus aliquet cursus et neque vel sodales 
			ligula”</p>
			<span class="number-font uppercase author-comment">iryna petrunco </span><span class="des-font capital model">/ model</span>
		</div>
		<!--  -->
		<div class="content-comment relative">
			<div class="number-font absolute stt-comment">#03</div>
			<p class="menu-font des-comment space_bot_30">“Quisque condimentum ipsum at velit hendrerit 
			venenatis. Donec luctus metus enim, nunced. Sed sit 
			amet nisl id purus aliquet cursus et neque vel sodales 
			ligula”</p>
			<span class="number-font uppercase author-comment">iryna petrunco </span><span class="des-font capital model">/ model</span>
		</div>
		<!--  -->
		<div class="content-comment relative">
			<div class="number-font absolute stt-comment">#04</div>
			<p class="menu-font des-comment space_bot_30">“Quisque condimentum ipsum at velit hendrerit 
			venenatis. Donec luctus metus enim, nunced. Sed sit 
			amet nisl id purus aliquet cursus et neque vel sodales 
			ligula”</p>
			<span class="number-font uppercase author-comment">iryna petrunco </span><span class="des-font capital model">/ model</span>
		</div>
		<!--  -->

	</div>
</div>
		</div>
		
	</div>
	</div>
	<!--  -->
	<div class="container brand-home4 margin_bottom_70">
		
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand1.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand2.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand3.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand4.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand5.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand6.png" alt=""></a>
			
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand2.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand4.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand1.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand6.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand3.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand5.png" alt=""></a>
			
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand5.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand6.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand3.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand4.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand2.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand1.png" alt=""></a>
			
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand1.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand2.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand3.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand4.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand5.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand6.png" alt=""></a>
			
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand2.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand4.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand1.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand6.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand3.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand5.png" alt=""></a>
			
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand5.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand6.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand3.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand4.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand2.png" alt=""></a>
				<a href="#" class="inline-block margin_bottom_80"><img src="/img/brand1.png" alt=""></a>
			
			<!--  -->
		
	</div>
	<!--  -->
	<div class="insta_home3 container-fluid">
		<div class="row">
			<div class="column-20 relative">
				<a href="#"><img src="/img/img_insta_home3_1.jpg" class="img-responsive full-width" alt=""></a>
				<div class="absolute icon-insta text-center">
					<a href="#"><i class="ti-instagram"></i></a>
				</div>
			</div>
			<div class="column-20 relative">
				<a href="#"><img src="/img/img_insta_home3_2.jpg" class="img-responsive full-width" alt=""></a>
				<div class="absolute icon-insta text-center">
					<a href="#"><i class="ti-instagram"></i></a>
				</div>
			</div>
			<div class="column-20 relative">
				<a href="#"><img src="/img/img_insta_home3_3.jpg" class="img-responsive full-width" alt=""></a>
				<div class="absolute icon-insta text-center">
					<a href="#"><i class="ti-instagram"></i></a>
				</div>
			</div>
			<div class="column-20 relative">
				<a href="#"><img src="/img/img_insta_home3_4.jpg" class="img-responsive full-width" alt=""></a>
				<div class="absolute icon-insta text-center">
					<a href="#"><i class="ti-instagram"></i></a>
				</div>
			</div>
			<div class="column-20 relative">
				<a href="#"><img src="/img/img_insta_home3_5.jpg" class="img-responsive full-width" alt=""></a>
				<div class="absolute icon-insta text-center">
					<a href="#"><i class="ti-instagram"></i></a>
				</div>
			</div>
			
		</div>
	</div>
	<!--  -->
	
</main>
<footer>
	<div  class="contact-home1 space_top_100 space_bot_120 ver7">
		<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-about-home1">
				<h4 class="des-font space_bot_40 title-about-home1">About us</h4>
				<p class="des-font space_bot_20 des-about-home1">Proin gravida nibh vel velit auctor aliqu. Aenean 
				sollicitudin, lorem.</p>
				<p class="space_bot_30 location"><span class="ti-location-pin"></span><span> 531 West Avenue, NY</span></p>
				<div class="space_bot_50">
					<a href="#"><img src="/img/img-footer-1.png" class="img-responsive" alt=""></a>
				</div>
				
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 lastest-post">
				<h4 class="des-font space_bot_40 title-about-home1 text-left">Lastest Post</h4>
				<h5 class="title-font uppercase text-left"><a href="#">Your Personality Color</a></h5>
					<p class="des-font space_bot_40 text-left">02/27/2018</p>
				<h5 class="title-font uppercase text-left"><a href="#">Coat Materials for Winter</a></h5>
					<p class="des-font space_bot_40 text-left">02/27/2018</p>
				<h5 class="title-font uppercase text-left"><a href="#">Streetwear Outfit Ideas</a></h5>
					<p class="des-font space_bot_40 text-left">02/27/2018</p>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 recent-tag">
				<h4 class="des-font space_bot_40 title-about-home1">Recent Tags</h4>
				<a href="#" class="uppercase des-font">abstract</a>
				<a href="#" class="uppercase des-font">art</a>
				<a href="#" class="uppercase des-font">blog</a>
				<a href="#" class="uppercase des-font">exhibition</a>
				<a href="#" class="uppercase des-font">event</a>
				<a href="#" class="uppercase des-font">evening</a>
				<a href="#" class="uppercase des-font">gym</a>
				<a href="#" class="uppercase des-font">exhibition</a>
				<a href="#" class="uppercase des-font">news</a>
				<a href="#" class="uppercase des-font">people</a>
				<a href="#" class="uppercase des-font">trends</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 instagram">
				<h4 class="des-font space_bot_40 title-about-home1 capital">get our latest update in your email</h4>
				<p class="des-font des-about space_bot_30">Subscribe now to get 15% off on any product</p>
				<form class="form-group des-font" method="post" target="_blank">
					<input type="email" name="EMAIL" class="form-control" placeholder="Your email goes here...">
					<button type="submit" class="uppercase">subscribe</button>
				</form>

			</div>
		</div>
		</div>
	</div>
	<div class="container des-font text-center copyright">
	<span class="space_top_bot_50">Copyright © 2018 EngoTheme. All rights reserved.</span>
	</div>
	
</footer>
<div class="overlay"></div>
	<div class="gotop text-center fade"><i class="ti-angle-up"></i></div>
	<div class="form-search delay03 text-center">
						
                        	<i class="ti-close" id="close-search"></i>
                            <h3 class="text-center title-font">what are<br>your looking for ?</h3>
                            <form method="get" action="/search" role="search">
                              <input type="text" class="form-control control-search des-font" value="" autocomplete="off" placeholder="Enter Search ..." aria-label="SEARCH" name="q">
                              <button class="button_search title-font" type="submit">search</button>
                            </form>
                        
	</div>
	<div class="form-cart delay03">
		<i class="ti-close" id="close-cart"></i>
		<h3 class="title-font capital">my cart</h3>
		<div class="empty-cart">
			<p class="des-font">No products in the cart.</p>
			<a href="#" class="capital des-font">start shopping</a>
		</div>
		
	</div>

