{{!--

<!-- push menu-->
<div class="pushmenu menu-home5">
    <div class="menu-push">
        <span class="close-left js-close"><i class="ti-close"></i></span>
        <div class="clearfix"></div>
        <form role="search" method="get" id="searchform" class="searchform title-font" action="/search">
            <div>
                <label class="screen-reader-text" for="q"></label>
                <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                <input type="hidden" name="type" value="product">
                <button type="submit" id="searchsubmit"><i class="ti-search"></i></button>
            </div>
        </form>
        <ul class="nav-home5 js-menubar clear-space menu-font">
            <li class="level1 active dropdown">
                <a href="#" class="uppercase">Home</a>
                <span class="icon-sub-menu"></span>
                <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                            <a href="#" class="capital">home set 1</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 capital menu-child-font"><a href="Home1.html" title="">home page 1</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="Home2.html" title="">home page 2</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="Home3.html" title="">home page 3</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="Home4.html" title="">home page 4</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level2">
                            <a href="#" class="capital">home set 2</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 capital menu-child-font"><a href="Home5.html" title="">home page 5</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="Home6.html" title="">home page 6</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="Home7.html" title="">home page 7</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="Home8.html" title="">home page 8
                                        comming soon</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="level1 active dropdown"><a href="#" class="uppercase">Shop</a>
                <span class="icon-sub-menu"></span>
                <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                            <a href="#" class="capital">Shop page</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 menu-child-font"><a href="Shop_right_sidebar.html">shop right
                                        sidebar</a></li>
                                <li class="level3 menu-child-font"><a href="Shop_left_sidebar.html">shop left
                                        sidebar</a></li>
                                <li class="level3 menu-child-font"><a href="Shop_no_sidebar.html">shop full width</a>
                                </li>
                                <li class="level3 menu-child-font"><a href="#">shop page 4 - comming soon</a></li>
                            </ul>
                        </li>
                        <li class="level2">
                            <a href="#" class="capital">Single Product Type</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 menu-child-font"><a href="Product_detail_1.html">product detail 1</a>
                                </li>
                                <li class="level3 menu-child-font"><a href="Product_detail_2.html">product detail 2</a>
                                </li>
                                <li class="level3 menu-child-font"><a href="#">product detail 3 - Comming soon</a></li>
                                <li class="level3 menu-child-font"><a href="#">product detail 4 - Comming soon</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="level1 active dropdown">
                <a href="#" class="uppercase">Blog</a>
                <span class="icon-sub-menu"></span>
                <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                            <a href="#" class="capital">blog page</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 capital menu-child-font"><a href="Blog_right_sidebar.html">blog right
                                        sidebar</a></li>
                                <li class="level3 capital menu-child-font"><a href="Blog_left_sidebar.html">blog left
                                        sidebar</a></li>
                                <li class="level3 capital menu-child-font"><a href="Blog_no_sidebar.html">blog full
                                        width</a></li>
                                <li class="level3 capital menu-child-font"><a href="#">blog page 4 - comming soon</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level2">
                            <a href="#" class="capital">blog detail</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 capital menu-child-font"><a href="Blog_detail_right_sidebar.html">blog
                                        detail right sidebar</a></li>
                                <li class="level3 capital menu-child-font"><a href="Blog_detail_left_sidebar.html">blog
                                        detail left sidebar</a></li>
                                <li class="level3 capital menu-child-font"><a href="Blog_detail_no_sidebar.html">blog
                                        detail full width</a></li>
                                <li class="level3 capital menu-child-font"><a href="#">blog detail 4 - comming soon</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="level1 active dropdown">
                <a href="#" class="uppercase">Pages</a>
                <span class="icon-sub-menu"></span>
                <div class="menu-level1 js-open-menu">
                    <ul class="level1">
                        <li class="level2">
                            <a href="#" class="capital">page set 1</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 capital menu-child-font"><a href="About_page_1.html">about page 1</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="About_page_2.html">about page 2</a>
                                </li>
                                <li class="level3 capital menu-child-font"><a href="FAQ.html">FAQs page</a></li>
                                <li class="level3 capital menu-child-font"><a href="404.html">404 page</a></li>
                            </ul>
                        </li>
                        <li class="level2">
                            <a href="#" class="capital">page set 2</a>
                            <ul class="menu-level-2 clear-space">
                                <li class="level3 capital menu-child-font"><a href="cart_page.html">cart page</a></li>
                                <li class="level3 capital menu-child-font"><a href="wishlist_page.html">wishlist
                                        page</a></li>
                                <li class="level3 capital menu-child-font"><a href="login_page.html">login/register
                                        page</a></li>
                                <li class="level3 capital menu-child-font"><a href="#">other page - comming soon</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="level1">
                <a href="Contact.html" class="uppercase">contact</a>
            </li>
            <li>
                <a href="#" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>login</a>
            </li>
        </ul>
    </div>
</div> --}}
<!-- end push menu-->

<main>
    <div class="banner margin_bottom_150">
        <div class="container">
            <h1 class="title-font title-banner">Login/Register</h1>
            <ul class="breadcrumb des-font">
                <li><a href="Home1.html">Home</a></li>
                <li class="active">Login/Register</li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="container login_page margin_bottom_50">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="title-font text-center capital margin_bottom_50">login</h1>
                <div class="form-customer des-font">
                    {{#if blockedErr}}
                    <h4 class="text-danger">you have been blocked!!!!</h4>
                    {{/if}}
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail*</label>
                            <input type="email" class="form-control form-account" name="userEmail" placeholder="Email*" id="email">
                        </div>
                        {{#if loginErr}}
                        <h4 class="error text-danger">invalid Email or password </h4>
                        {{/if}}
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password*</label>
                            <input type="password" class="form-control form-account" name="Password"
                                placeholder="Password*">
                        </div>


                        <div class="flex space_top_bot_30">
                            <a href="#recover" id="RecoverPassword" class="link-default">Forgot Password?</a>
                        </div>

                        <div class="btn-button-group mg-top-30 mg-bottom-15">
                            <button type="submit" class="btn-nixx full-width number-font uppercase" onclick="fieldvalidation()">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="title-font text-center capital margin_bottom_50">register</h1>

                <div class="form-customer des-font">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <div>
                                {{#if confirmPassErr}}
                                <h1 class="text-danger">Passwords should be same !!!!!</h1>
                                {{/if}}
                                <label for="exampleInputEmail1">Name*</label>
                                <input type="text" class="form-control form-account" name="userName"
                                    placeholder="Name*" id="username">
                                <span class="float-right text-danger" id="userNameErr"></span>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">Email*</label>
                                <input type="email" class="form-control form-account" name="userEmail"
                                    placeholder="Email*" id="email">
                                <span class="float-right text-danger" id="emailErr"></span>

                            </div>
                            {{#if signupErr}}
                            <h4 class="error text-danger">Email already registered Please login </h4>
                            {{/if}}
                            <div>
                                <label for="exampleInputEmail1">Phone*</label>
                                <input type="Number" class="form-control form-account" name="phoneNo" id="mobile"
                                    placeholder="PhoneNo*">
                                <span class="float-right text-danger" id="phoneErr"></span>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password*</label>
                                <input type="password" class="form-control form-account" name="Password" id="password"
                                    placeholder="Password*" required="">
                                <span class="float-right text-danger" id="passwordErr"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirm Password*</label>
                                <input type="password" class="form-control form-account" name="Password2" id="password2"
                                    onkeyup="validate_password()" placeholder="Password*">
                                <span class="float-right text-danger" id="comPassErr"></span>
                            </div>
                            <span id="wrong_pass_alert"></span>


                            <div class="btn-button-group">
                                <button type="submit" value="submit" class="btn-nixx full-width number-font uppercase"
                                    onclick="fieldvalidation()">
                                    register
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="newsletter-home3 space_bot_150 space_top_130 BG margin_bottom_120">
        <h1 class="title-font capital title-newsletter text-center">Get Our Latest Update In Your Email</h1>
        <p class="des-font des-newsletter space_bot_60 text-center">Subscribe now to get 15% off on any product</p>
        <form class="form-group des-font flex" method="post" target="_blank">
            <input type="email" name="EMAIL" class="form-control" placeholder="Your email address...">
            <button type="submit" class="menu-font uppercase">subscribe</button>
        </form>
    </div>
    <!--  -->

</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_bot_40 logo-footer-home2">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left logo-footer clear-space-left">
                    <a href="#" class="inline-block"><img src="asset/img/logo.png" class="img-responsive" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right newsletter clear-space-right">
                    <a href="#" class="des-font delay03 inline-block"><span>Sign up your newsletter</span> <i
                            class="ti-instagram delay03"></i></a>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_bot_40 copy-footer-home2">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left copy clear-space">
                    <p class="des-font copy-text space_top_40">Copyright © 2018 EngoTheme. All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right social-footer clear-space">
                    <div class="social-home2 space_top_40">
                        <a href="#" class="delay03 inline-block space_left_40"><i class="ti-facebook delay03"></i></a>
                        <a href="#" class="delay03 inline-block space_left_40"><i
                                class="ti-twitter-alt delay03"></i></a>
                        <a href="#" class="delay03 inline-block space_left_40"><i class="ti-pinterest delay03"></i></a>
                        <a href="#" class="delay03 inline-block space_left_40"><i class="ti-linkedin delay03"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>
<div class="overlay"></div>
<div class="gotop text-center fade"><i class="ti-angle-up"></i></div>
<div class="form-search delay03 text-center">

    <i class="ti-close" id="close-search"></i>
    <h3 class="text-center title-font">what are<br>your looking for ?</h3>
    <form method="get" action="/search" role="search">
        <input type="text" class="form-control control-search des-font" value="" autocomplete="off"
            placeholder="Enter Search ..." aria-label="SEARCH" name="q">
        <button class="button_search title-font" type="submit">search</button>
    </form>

</div>
<div class="form-cart delay03">
    <i class="ti-close" id="close-cart"></i>
    <h3 class="title-font capital">my cart</h3>
    <div class="empty-cart">
        <p class="des-font">No products in the cart.</p>
        <a href="#" class="capital des-font">start shopping</a>
    </div>

</div>

<script>

    function validate_password() {

        const pass = document.getElementById('password').value;
        const confirm_pass = document.getElementById('password2').value;
        if (pass != confirm_pass) {
            document.getElementById('wrong_pass_alert').style.color = 'red';
            document.getElementById('wrong_pass_alert').innerHTML
                = '☒ Use same password';
            document.getElementById('create').disabled = true;
            document.getElementById('create').style.opacity = (0.4);
        } else {
            document.getElementById('wrong_pass_alert').style.color = 'green';
            document.getElementById('wrong_pass_alert').innerHTML =
                '🗹 Password Matched';
            document.getElementById('create').disabled = false;
            document.getElementById('create').style.opacity = (1);
        }
    }

    function fieldvalidation() {
        if (document.getElementById('password').value == "") {
            document.getElementById('passwordErr').innerHTML = "required"
        }
        if (document.getElementById('password2').value == "") {
            document.getElementById('comPassErr').innerHTML = "required"
        }
        if (document.getElementById('username').value == "") {
            document.getElementById('userNameErr').innerHTML = "required"
        }
        if (document.getElementById('email').value == "") {
            document.getElementById('emailErr').innerHTML = 'required'
        }
        if (document.getElementById('mobile').value == "") {
            document.getElementById('phoneErr').innerHTML = 'required'
        }

    }
</script>