<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Otp-Verification</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/otp/otp.css" />
</head>

<body>

  <div class="d-flex justify-content-center align-items-center continer">
    <div class="card py-5 px-3">
      <h5 class="m-0">Mobile phone verification</h5>
      <span class="mobile-text"><b>Enter the code we just sent on your phone</b>
        <b class="text-color">+91 09899619282</b>
      </span>
      {{#if otpErr}}
      <h4 class="text-danger">otp does not match</h4>
      {{/if}}
      <form action="/home" method="post">
        <div class="d-flex flex-row mt-5">

          <input type="text" name="otp" class="form-control" autofocus="" />
          {{!-- <input type="text" class="form-control" />
          <input type="text" class="form-control" />
          <input type="text" class="form-control" /> --}}
        </div>
        <div class="text-center mt-5">

          <span class="d-block mobile-text" id="resend"></span>
        </div>

        <button type="submit" class="btn btn-primary">
          <h3>confirm</h3>
        </button>
      </form>
    </div>
  </div>

</body>

</html>